<!DOCTYPE html>
<html lang="en-US">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <body>
    <div
      ng-app="myApp"
      ng-controller="myCtrl"
      ng-init="quantity=1;cost=5;person={firstName:'John',lastName:'Doe'};points=[1,15,19,2,40]"
    >
      <!-- binding value -->
      First Name: <input type="text" ng-model="firstName" /><br />
      Last Name: <input type="text" ng-model="lastName" /><br />
      <br />
      <p>
        Full Name: {{firstName + " " + lastName}}
      </p>
      <!-- value from controller -->
      <p>
        Full Name Value from Controller : {{fullName}}
      </p>

      <!-- ng-init -->
      <br />
      <p>Total in dollar: {{ quantity * cost }}</p>

      <!-- ng-init object -->
      <br />
      <p>The name is <span ng-bind="person.lastName"></span></p>
      <p>The name is {{ person.lastName }}</p>

      <!-- ng-init array -->
      <br />
      <p>The third result is <span ng-bind="points[2]"></span></p>
      <p>The third result is {{ points[2] }}</p>
    </div>

    <script>
      var app = angular.module("myApp", []);
      app.controller("myCtrl", function ($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
        $scope.fullName = $scope.firstName + $scope.lastName;
      });
    </script>
  </body>
</html>
